h1{
  color: #175E1B;
  font-size: 120%;
}

h2{
  color: #175E1B;
  font-size: 120%;
}

h3{
  color: #175E1B;
  font-size: 120%;
}

p{
  font-family: "Times New Roman";
  text-index: 10px;
  color: #inherit;
}

body{
  background-color: #88BD8B;
  width: 600px;
  min-height: 300px;
  padding: 10px;

  font-size: 20px;
}

#flower-image {
    width: 350px;
}
